@charset "UTF-8";

* {
    box-sizing: border-box;
}
/* Estilização do corpo */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Título do cabeçalho/logotipo */
.header {
    background-color: #1abc9c;
    text-align: center;
    padding: 60px;
    color: #fff;
}

/* Estilizar a barra de navegação */
.navbar {
    background-color: #333;
    display: flex;
}

/* Estilizar os links da barra de navegação */
.navbar > a {
    padding: 14px 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* Alterar cor ao passar o mouse */
.navbar > a:hover {
    background-color: #ddd;
    color: black;
}

/* conteiner de colunas */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Cria duas colunas desiguais que fica próxima uma da outra */
/* Barra lateral/coluna esquerda */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Coluna principal */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Imagem false, apenas para este exemplo */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    /* margin: 10px; */
}

/* Rodapé */
.footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

/* Layout responsivo - quando a tela tiver menos de 700px de largura, as duas colunas ficam empilhadas uma sobre a outra em vez de uma ao lado da outra */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}