@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    text-align: center;
    padding: 32px;
    background-color: lightgray;
   
}

.cabecalho > h1 {
    font-size: 2em;
}

.cabecalho > p {
    margin: 16px;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.coluna {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.coluna > img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .coluna {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .coluna {
        flex: 100%;
        max-width: 100%;
    }
}